/* =Content
----------------------------------------------- */
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.aligncenter {
	display: block;
	float: none;
	margin-top: .5em;
	margin-right: auto!important;
	margin-bottom: .5em;
	margin-left: auto!important;
}
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.sticky{}
.gallery-caption {}
.bypostauthor {}

/* =Breadcrumbs
----------------------------------------------- */
#breadcrumbs {
	@include fontSize(14px);
	font-family: $content;
	padding: 20px 0 20px 50px;

	a, a:visited {
		border-bottom: solid 1px #ff0000;
	}
}
/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Comments
----------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}

#content {

	.entry-content {
		a, a:visited {
			border-bottom: solid 1px #ff0000;
		}
	}
	.entry-meta {
		a, a:visited {
			border-bottom: solid 1px #ff0000;
		}
	}
	.alignleft {
	    float: left;
	    margin-right: 10px;
	    margin-bottom: 10px;
	}
	.alignright{
	    float: right;
	    margin-left: 10px;
	    margin-bottom: 10px;
	}
}

/* =Page Templates
----------------------------------------------- */

// 2col Right Sidebar
.page-template-page-templatestemplate-right-col-php {
	.wrap {
		margin: 40px;
	}
	h1.entry-title {
		margin: 0;
		text-align: left;
	}
	#primary {
		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(8);
		}
	}
	#secondary {
		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(4);
		}
	}
}


// 2col Left Sidebar
.page-template-page-templatestemplate-left-col-php {
	.wrap {
		margin: 40px;

	}
	h1.entry-title {
		margin: 0;
		text-align: left;
	}
	#primary {

		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(8);
		}
	}
	#secondary {
		float: left;
		padding-right: 1.5%;
		@include media($sm) {
			@include span-columns(4);
		}
		@include media($md) {
			@include span-columns(4);
		}
	}
	footer {
		clear: both;
		display: table;
	}
}