/* =Menu
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
	background: #fff;
	padding: 30px;
}
#site-navigation {
	border-top: solid 5px #f3f3f3;
	border-bottom: solid 5px #f3f3f3;
}
ul.nav-menu li {
	@include transition (background 200ms ease-in-out);
	@include media($sm) {
		text-align: center;
		width: 100%;
	}
	@include media($md) {
		text-align: none;
		width: inherit;
	}
	background: #fff;
	padding: 10px;

	&:hover {
		@include transition (background 200ms ease-in-out);
		background: #f3f3f3;
	}
}
.menu-main-menu-container {

	li.current-menu-item {
		background-color: #f3f3f3;
		display: block;
	}
	a, a:visited {

	}
}
ul.nav-menu li.current_page_item {
	background: #f3f3f3;
}

.menu-toggle {
	@include media($sm) {
		text-align: center;
		height: 8px;
		padding-top: 10px;
		padding-bottom: 20px;
	}
}
ul.nav-menu li {
	display: inline;
}
.sf-menu {
	float: none !important;
	margin: 0 auto !important;
	width: 60% !important;

	br {
		display: none;
	}
	.sub {
		text-align: center;
		display: block;
		float: none;
		font-size: 13px;
	}
	li {
		@include transition (background 800ms ease-in-out);
		background: #fff !important;

		&:hover {
			@include transition (background 800ms ease-in-out);
			background-color: #f9f9f9 !important;
		}

		a, a:visited {
			color: #666 !important;
			font-family: $title !important;
		}
	}
}

#primary-nav {
	float: left;
	width: 100%;
}
.mean-container {

	.mean-nav {
		ul {
			li {
				a, a:visited {
					color: #666;
					text-align: center !important;
				}
			}
		}
	}
}

.sf-menu ul {
	@include media(max-width 480px) {
		position: static !important;
	}
}